// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;
$deco-font-family: 'Amatic SC';

//FONT COLORS
$first-font-color: #d6d6d6;
$logo-font-color: #bdbbbb;
$footer-copirate-font-color: #bdbbbb;
$spleshscreen-title-font-color: #0c0c0c;

//  COLORS
$first-page-color: #282c34;
$main-page-color: #c3c3c4;
$button-login-color: #3f51b5;
$button-signin-color: #8bc34a;
$modal-windows-bg: #565d67;

//media
$mobile-bp-max: 767px;
$mobile-w: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
