.main-screen-nav {
  position: fixed;
  z-index: 1000;
  right: 2%;
  bottom: 70px;
  display: flex;

  @media screen and (max-width: $mobile-bp-max) {
    flex-direction: column;
  }

  @media screen and (min-width: $tablet-bp-min) {
    justify-content: center;
    right: 5%;
    bottom: 10px;
  }

  &_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    outline: none;

    &.button-github-ico {
      background-image: url(../images/ico/github_icon-icons.com_60477.png);
    }
    &.button-logout-ico {
      background-image: url(../images/ico/systemlogout_103399.png);
    }

    @media screen and (max-width: $mobile-bp-max) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: $tablet-bp-min) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
