.page-main {
  padding: 10px 0px 10px 0px;
  background-color: $main-page-color;
}

.splash-screen-bg {
  background-image: url(../images/bg-image/bg-start.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-screen-bg {
  background-image: url(../images/bg-image/bg-fon-screen-main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
